{% if page.url != "/signup.html" %}

<!-- Go to www.addthis.com/dashboard to customize your tools --> <div class="addthis_tipjar_inline"></div>

{% endif %}

{% if page.url == "/" %}

<h3 class="promo">Get caught up further on this impeachment with <a href="archive"> the archive</a></h3>
<h3 class="promo">For a full archive of the <i>previous</i> impeachment of President Trump <a href="/archive-2020">visit the 2020 archive.</a></h3>

{% endif %}

{% include newsletter.html %}

<footer class="site-footer">

<p>Last updated {{ site.data.newnews.news[0].date | date: "%b %-d, %Y" }}.</p>

<p>A little internet project by <a href="https://www.twitter.com/dansinker">Dan Sinker</a>

</footer>
