---
layout: default
---
<div id="titlebox">
<!--<h1>Impeachment<span class="smaller">.fyi</span></h1>-->
<a href=".."><img id="logo" src="/assets/impeachment_logo.svg" alt="impeachment.fyi logo"></a>
<h3>{{ site.description | escape }}</h3>
</div>

<div id="topbox">
{% include newsletter.html %}
<p class="tips"> <span class="desktop">Support this work via</span><span class="mobile">Give a Tip:</span> <a href="https://www.paypal.me/dansinker">PayPal</a>, <a href="https://venmo.com/?txn=pay&audience=friends&recipients=dansinker">Venmo</a>, or <a href="https://cash.app/$dsinker">CashApp</a>.</p>
<!--<p class="small"><b>Please note:</b> We won't be updating November 1-5, due to a family vacation. </p>-->
</div>

<div class="home">

  {{ content }}

</div>
